<a id="skip-to-main"
  href="#main"
  onclick="event.preventDefault(); document.getElementById('main').focus();">
  Skip to main content
</a>

<header>
  <div id="logo">
    <img id="logo-img" src="/assets/headshot-small.png" alt=""/>
    <span id="logo-txt">Jason Cox</span>
  </div>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/creations/">Creations</a></li>
      <li><a href="/blog/">Blog</a></li>
      <li><a href="/resume.html">Resume</a></li>
    </ul>
  </nav>
</header>

<main id="main" tabindex="-1"> <!-- closed in footer.html -->
